* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    color: #0b1a3e;
    border: 3px solid #0b1a3e;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navLeft{
    display: flex;
    align-items: center;
}
.fa-earth-europe{
    font-size: 50px;
}

.navLeft p{
    margin-left: 10px;
    font-size: 20px;
}

.navRight{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.Content {
    color: #0b1a3e;
    border: 3px solid #e62e2d;
    display: flex;
    justify-content: space-around;
    height: 90vh;
}

.Left {
    border: 3px solid #aefd38;
    width: 20%;
    padding: 1% 2%;
}
.placeholder-left,.placeholder-center{
    display: flex;
    align-items: center;
    margin: 4%;
    justify-content: space-between;
}
.Center {
    border: 3px solid #1f02ff;
    width: 60%;
}
.Center p{
    padding: 0 2%;
}
.Right {
    border: 3px solid #fdff0f;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 2%;
} 
.Right div{
    margin:6% 0;
}
.icon {
    font-size: 2em;

}
img{
    border-radius: 10px;
}